/* GENEL AYAR */
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/Raleway-Regular.ttf')
}

body {
    background: white;
    color: black;
    font: 14px / 28px;
    font-family: 'Raleway';
}

h1 {
    font-size: 52px;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

.sectionHeader {
    background: black;
    border-bottom: 6px solid black;
    height: 60px;
    color: white;
    display: inline-block;
    line-height: 60px;
    font-size: 24px;
    padding: 5px 40px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

h3 {
    font-size: 16px;
    color: black;
    font-weight: bold;
        transition: all 2s ease;
}

h2 {
    font-size: 18px;
    color: black;
    font-weight: bold;
        transition: all 1s ease;
text-align:left;
}



.sectionArea {
    padding: 80px 0;

    
}


/* grid AYAR */
.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
}


.featuresBody .container {
    justify-content: space-between;
    
}
.col3 {
    flex-grow: 1;
    width: 33.33%;
    
}

/* home AYAR */

header .logo {
    margin: 20px;
    margin-right: auto;
}
header .logo img {
    display: block;
    height: 70px;
}

.menu li {
    float: left;
    margin: 20px 0;
}

.menu li a {
    padding: 27px 17px;
    display: block;
    text-decoration: none;
    letter-spacing: 2px;
    color: #333;
    transition: all 1s ease;
}




.menu li:hover a {
    background:black;
    color: #fff;
    
}


#mainSlider {
    height: 500px;
    background: url('../img/ana.jpg') center center no-repeat;
    background-size: cover;
}

.slider {
    width: 100%;
}

#mainCaption {
    height: 500px;
    background: rgba(0,0,0, .8);    
}

.caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    
}

.featuresTop{
    text-align: center;

}

.item {
    padding: 10px 30px;
        margin-top: 10px;


}




.zoom img {
    display: block;
    width: 100%;
    height: auto;
    transition: all 1s ease;
    
}

.item .itemText {
    text-align: center;
    padding: 5px;
    border: 1px solid Black;
    
}


.item:hover .zoom img {
    transform: scale(1.25);
    
}


.item:hover h3 {
    color: white;
    
}

.item:hover .itemText {
    background: black;
    color: white;
    transition: all 1s ease;
    
}



.btnDetails {
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid black;
        transition: all 1s ease;

}


.item:hover .btnDetails {
    color: white;
    border: 1px solid white;
    
    
}

.itemText p {
    margin: 20px 0;
    
}

#parallax {

    background: url('../img/mainhome2.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    text-align: center;
    
}



#parallax p {
    color: white;
}


footer {
    background: black;
    text-align: center;
}

.footerItem {
    padding: 20px;
}


.footerItem img {
height: 100px;

}




.footerItem h3 {   
    color: white;
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 25px;
}


.footerItem p {   
    color: white;
    font-size: 13px;
    letter-spacing: 2px;
    margin-top: 25px;
}


.footerLinks a {
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
}

.footerLinks a:hover {
        text-decoration: underline;
}

.socialLinks li {
    display: inline-block;
}

.socialLinks img {
    height: 70px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

/* urunler AYAR */

.inspectBody .col2 {
    display: flex;
    
}


.inspectImage {
    width: 40%;
    
}

.inspectImage img {
    width: 100%;
    height: auto;
    margin-left: 25px;
}

.inspectText {
    width: 60%;
    padding-left: 10px;
}

h4 {
    color: black;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 60px;
}

.inspectText a {
    float: right;
    text-decoration: none;
    color: black;
    margin-right: 15px;
}

.inspectText a:hover {
    text-decoration: underline;
}

.inspectText p {
    margin-left: 20px;
}



.col2 {
    margin-bottom: 30px;
}




/* sipariÅŸ AYAR */

    
    

        h6
        {
            font-size: 38px;
            text-align: center;
            color: red;
        } 

        form
        {
            border:1px solid silver;
            width: 600px;
            padding: 30px 50px;
            box-sizing: border-box;
            margin: auto;
            margin-bottom: 50px;
            margin-top: 50px;
}

        input
        {
            font-size: 20px;
            width: 100%;
            padding-left: 100px;
            margin-top: 10px;
            border-radius:50px ;
            box-sizing: border-box; 
        }
        button
        {
            background-color: turquoise;
            color: red;
            width: 100%;
            line-height: 35px;
            font-size:22px ;
            margin-top: 10px;
        }
    
    

/* urun1 AYAR */

.metin{
	text-align: center;
	font-size: 30px;
	margin-left: 50px;
	margin-right: 50px;
}
.fotobir{
	margin-left: 30px;
	
}

.fotoiki{
	margin-left: 30px;
}
.fotouc{
	margin-left: 30px;
}

.orta{
margin-left:auto; 
margin-right:auto;
}

 .right
   {
      float: right;
padding-left:400px;
margin-left:200px;
}

.yazi{
color:white;
margin-top:50px;
font-size:20px;

}

.ortala {
  margin-left: auto;
  margin-right: auto;
  width: 50em;
}

.h7
 {
            font-size: 21px;
            text-align: center;
            color: black;
font-weight: bold;
        } 


.h8
 {
            font-size: 15px;
            text-align: center;
            color: black;
font-weight: bold;
        } 

.mert {
font-weight: bold;
font-size:50px;
color:pink;
}












